# VS Code files
.vscode/

# MacOS system files
.DS_Store

# Thumbnails or previews
*.png
*.mp4

# Simulation logs (if any)
*.log

# Ignore backups
*.bak
*~

# Ignore compiled code (if any)
*.out
*.class

# NodeJS (if using any JS tools later)
node_modules/