# VS Code files
.vscode/

# MacOS system files
.DS_Store


# Simulation logs (if any)
*.log

# Ignore backups
*.bak
*~

# Ignore compiled code (if any)
*.out
*.class

# NodeJS (if using any JS tools later)
node_modules/